______
**1. Write a program to initialize a dictionary (of your choice) and create a pandas DataFrame from it. Print the dataframe?**

In [ ]:
#Code here
import pandas as pd


data = {
    'Name': ['Shivam', 'Rohan', 'Tannu', 'Dev'],
    'Age': [19, 18, 20, 18],
    'City': ['Delhi', 'Rajasthan', 'Himachal', 'West Bengal'],
}

df = pd.DataFrame(data)

___
**2. Write a program to read the CSV file "summer.csv" into a pandas DataFrame "df", display the first 5 rows, and print the DataFrame's shape**

In [ ]:
#Code here
import pandas as pd

df = pd.read_csv("summer.csv")
print(df.head())
print(df.shape)

___
**3. Write a program to display the last 10 rows of the DataFrame?**

In [ ]:
#Code here
df = pd.read_csv("summer.csv")
print(df.tail(10))

___
**4. Write a program to get a summary of the DataFrame (such as the mean, count, etc.) and print the data types of all columns?**

In [ ]:
#Code here
df = pd.read_csv("summer.csv")
print(df.describe(include='all'))
print(df.dtypes)

___
**5. Write a program to select a single column "Gender" from the DataFrame?**

In [ ]:
#Code here
df = pd.read_csv("summer.csv")

___
**6. Write a program to select multiple columns "Year" and "City" from the DataFrame?**

In [ ]:
#Code here
df = pd.read_csv("summer.csv")
print(df[["Year", "City"]])

___
**7. Write a program to  filter rows in a DataFrame based on the condition that Gender = Men ?**

In [ ]:
#Code here
df = pd.read_csv("summer.csv")
men_df = df[df["Gender"] == "Men"]
print(men_df)

___
**8. Write a program to select and print the first 5 rows and columns 2 to 6 (inclusive) of the DataFrame. Also, print the type of the resulting object?**

In [ ]:
#Code here
df = pd.read_csv("summer.csv")
subset = df.iloc[:5, 1:6]
print(subset)
print(type(subset))

___
**9. Write a program to  delete a column "City" from the DataFrame and print the new dataframe??**

In [ ]:
#Code here
df = pd.read_csv("summer.csv")
df = df.drop("City", axis=1)
print(df)

___
**10. Write a program to  rename a column "Athlete" to "Participants" in the DataFrame?**

In [ ]:
#Code here
df = pd.read_csv("summer.csv")
df = df.rename(columns={"Athlete": "Participants"})
print(df)

___
**11. Write a program to select and print the "Participants", "Medal" and "Event" columns for index 10 and 201 from the DataFrame.?**

In [ ]:
#Code here
print(df.loc[[10, 201], ["Participants", "Medal", "Event"]])

___
**12. Write a program to display the first 10 rows of the df DataFrame and check for any missing values in each column.?**

In [ ]:
#Code here
print(df.head(10))  
print("\nMissing values in each column:\n", df.isnull().sum())

___
**13. Write a program to select and print the "Country" and "Medal" columns from the df DataFrame, and then print the number of unique values in each of these columns.?**

In [ ]:
#Code here
subset = df[["Country", "Medal"]]
print(subset)

print("\nUnique values count:")
print(subset.nunique())

___
**14. Write a program to group the df DataFrame by the "Country" column and calculate the total number of medals for each country. Print the result.?**

In [ ]:
#Code here
medals_per_country = df.groupby("Country")["Medal"].count()
print(medals_per_country)

___
**15. Write a program to sort the df DataFrame by the "Year" column in descending order and print the first 5 rows of the sorted DataFrame.?**

In [ ]:
#Code here
sorted_df = df.sort_values(by="Year", ascending=False)
print(sorted_df.head(5))

___
**16. Write a program to add a new column "Century" to the df DataFrame. Classify each event as occurring in the "20th Century" if the "Year" is less than 2000, or the "21st Century" if the "Year" is 2000 or later. Print the first 5 rows to verify the change.**

In [ ]:
#Code here
df["Century"] = df["Year"].apply(lambda y: "20th Century" if y < 2000 else "21st Century")
print(df.head(5))

___
**17. Write a program to filter and print rows from the df DataFrame where the "Country" is "USA" and the "Medal" is "Gold". Also, count the number of rows that meet this condition.**

In [ ]:
#Code here
usa_gold = df[(df["Country"] == "USA") & (df["Medal"] == "Gold")]
print(usa_gold)

print("\nTotal USA Gold medals:", len(usa_gold))

___
**18. Write a program to create a new column "Medal Points" in the df DataFrame. Assign 3 points for "Gold", 2 points for "Silver", and 1 point for "Bronze". Print the first 5 rows to verify the changes.**

In [ ]:
#Code here
points_map = {"Gold": 3, "Silver": 2, "Bronze": 1}
df["Medal Points"] = df["Medal"].map(points_map)
print(df.head(5))

___
**19. Write a program to filter the df DataFrame to include only rows where the "Country" is "USA". Then, group the filtered DataFrame by "Year" and calculate the total number of medals won by the USA each year. Print the results.**

In [ ]:
#Code here
usa_df = df[df["Country"] == "USA"]
usa_medals_per_year = usa_df.groupby("Year")["Medal"].count()
print(usa_medals_per_year)

___
**20. Write a program to identify the athlete who has won the most medals. Display the athlete's name and the total number of medals they have won.**

In [ ]:
#Code here
top_athlete = df["Athlete"].value_counts().idxmax()
medal_count = df["Athlete"].value_counts().max()

print(f"Athlete with most medals: {top_athlete} ({medal_count} medals)")

___
**21. Write a program to group the df DataFrame by the "Sport" column and calculate the number of each type of medal (Gold, Silver, Bronze) for each sport. Print the results.**

In [ ]:
#Code here
medals_by_sport = df.groupby(["Sport", "Medal"]).size().unstack(fill_value=0)
print(medals_by_sport)

### Good Luck!